<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>Houston we have a problem!</h1>
        <div class="content">
            <h2>Uh-oh</h2>
            
            <%if current_user.group == nil %>
            
            <p>It looks like there was an error with the information you gave us. Please try submitting your group again.<p>
            <h3> Sign Up:</h3>
            <ul>
            <form action="/groups" method="Post">
                <li><label for="name"><strong><em>Name: </em></strong></li> 
                <br>
                <li><input type="text" id="name" name="name" placeholder="Your group's name here"></label></li>
                <br>
                <li><label for="bio"><strong><em>Bio: </em></strong></li>
                <br>
                <li><textarea type="text" id="bio" name="bio" placeholder="Tell us about your group please." rows="10" cols="50"></textarea></label></li>
                <br>
                <li><button type="submit" value="submit"><strong>Submit!<strong></button></li>
            </form> 
        </div>

        <%else%>
            <h2>Wait just a minute...</h2>
            <div class="content">
                <p> I do apologize but you cannot create a group while you are in a group. Creators must be apart of their group (or at least when they first start it). Since you can only be a member of one group at a time. You would need to leave your current group first.</p>
                <h2>Leave group?</h2>
                <p>To leave your group please visit their page and click the "Leave" button on the groups page. The group you are currently apart of is <a href="/groups/<%=current_user.group.id%>"><%=current_user.group.name%></a> .
            </div>
    
        <%end%>

    </div>
</div>