<h1> Login: </h1>
<form action='/login' method="POST">
 <label for ="email"><strong>Email:</strong>
 <input type="text" id="email" name="email" placeholder="Your Email Please">
 </label>
 <br>
 <label for="password"><strong>Password:</strong>
 <input type="password" id="password" name="password" placeholder="Password">
 </label>
 <br>
<input type=submit value=LogIn id=submit> <a href="/signup">Not a Member?</a>
</form> 