<div class="container"> 
  <div class="col-md-8 col-md-offset-2">
    <h2>Join the family!</h2>
    <div class="content">
      <p>Welcome! We are glad to have you joining the family! Here we offer comunity with a focus. Create an account to join like minded indiviuals near you!</p>
      <br>
      <form action="/signup" method="post">
        <label for="name"><strong>Name:</strong>
        <input type="text" id="name" name="name" placeholder="Your Name Please"></label>
        <br>
        <label for ="email"><strong>Email</strong>
        <input type="text" id="email" name="email" placeholder="Your Email Please"></label>
        <br>
        <label for="password"><strong>Password</strong>
        <input type="password" id="password" name="password" placeholder="Password"></label>
        <br>
        <button type="submit" value="submit"><strong>Sign Up</strong></button> <a href="/login">Already a Member?</a>
      </form> 
    </div>
  </div>
</div>

