<div class="container"> 
  <div class="col-md-8 col-md-offset-2">
    <h1><strong>Join the family!</strong></h1>
    <div class="content">
      <h2>Welcome!</h2>
      <p>We are glad to have you joining the family! Here we offer comunity with a focus. Create an account to join like minded indiviuals near you!</p>
      <br>
      <h3><strong><em>Sign up: </strong></em></h3>
      <form action="/signup" method="post">
        <li><label for="name"><strong><em>Name: </em></strong></li>
        <li><input type="text" id="name" name="name" placeholder="Your Name Please"></label></li>
        <br>
        <li><label for ="email"><strong><em>Email: </em></strong></li>
        <li><input type="text" id="email" name="email" placeholder="Your Email Please"></label></li>
        <br>
        <li><label for="password"><strong><em>Password: </em></strong></li>
        <li><input type="password" id="password" name="password" placeholder="Password"></label></li>
        <br>
        <li><button type="submit" value="submit"><strong>Sign Up</strong></button>   <a href="/login">Already a Member?</a></li>
      </form> 
    </div>
  </div>
</div>

