<div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Welcome, <%=@user.name%> </h1>
      <div class="content">
        <% if @user.group == nil %>
          <p>It looks as though you have not joined a group! Why not <a href="/groups/new">create a new group</a> or <a href="/groups/index">join a group</a> made by someone in the community.</p>
        <% else %>
          <p>The group you belong to is</p>
            <ul>
              <li><a href="/groups/<%=@user.group.id%>"><b><%=@user.group.name%><b></a></li><br>
            <li><b>Bio:</b></li>
            <li><%=@user.group.bio %><b></li>
          </ul>
        <%end%>
      </div>
    <div class="sidebar">
      <h3>Most recent post from your group</h3>
      <ul>
          <li><b></li>
      </ul>
    </div>
  </div>