<h1>Welcome, <%=@user.name%> </h1>
<% if @user.groups == [ ] %>
  <p>It looks as though you have not joined any groups! Why not <a href="/groups/new">create a new group</a> or <a href="/groups/join">join a group</a> made by someone in the community.</p>
<% else %>
  <p>The groups you belong to are</p>
    <% @user.groups.each do |group|%>
      <ul>
        <li><a href="/group/<%=group.id%>"><b><%=group.name%><b></a></li><br>
        <li><b>Bio:</b> <%=group.bio %></li>
      </ul>
     <hr>
    <% end %>
<% end %>