<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>Houston we have a problem!</h1>
        <div class="content">
            <h2>Uh-oh</h2>
            <p> It looks as though either you were creating a post and it did not save <em><strong> or </strong></em> that you were trying to delete/edit a post that did not belong to you. If you would like you can <a href="/post/new">click here.</a>
        </div>
    </div>
</div>