<div class="container"> 
    <div class="col-md-8 col-md-offset-2">
        <h1><strong>Post</strong></h1>
        <div class="content">
            <h2>Here are all the post!</h2>
            <ul>
                <% all_post.each do |post|%>
                <li><%=post.published%></li>
                <li><strong><em><%=post.user.name%></em></strong></li>
                <li><strong><em>Content: </em></strong><%=post.content%></li>
                
                <% if post.user == current_user %>
                <li><a href="/posts/<%post.id%>/edit">Edit</a><li>
                <li><a href="/posts/<%post.id%>/delete">Delete</a></li>
                <br>
                <%end%>
                
                <%end%>
                </ul>
        </div>
    </div>
</div>