<h1>Create a post!</h1>
<form action="/posts/new" method="post">
<label for="content"><strong>Content: </strong</label>
<br>
<textarea type="text" id="content" name="content" placeholder="Enter what you would like your post to say!" rows="10" cols="50"></textarea></label>
<br>
<button type="submit" value="submit"><strong>Post!<strong></button>
</form>