Page
<div class="container"> 
    <div class="col-md-8 col-md-offset-2">
        <h1><strong>Header</strong></h1>
        <div class="content">
        <h2>Header</h2>
        </div>
        <div class="sidebar">
        <h3>Sidebar header </h3>
        </div>
    </div>
</div>

 new form
<form action="" method="">
    <li><label for=""><strong><em></em></strong></li>
    <li><input type="" id="" name="" placeholder=""></label></li>
    <br>
    <li><label for =""><strong><em></em></strong></li>
    <li><input type="" id="" name="" placeholder=""></label></li>
    <br>
    <li><label for=""><strong><em></em></strong></li>
    <li><button type="" id="" name="" placeholder=""></button></li>
    <br>
    <button type="submit" value="submit"><strong></strong></button> 
</form> 

 New form with text area
<h3></h3>
<form action="" method="">
    <li><label for=""><strong><em></em></strong</label></li>
    <br>
    <li><textarea type="" id="" name="" placeholder="" rows="10" cols="50"></textarea></label></li>
    <br>
    <li><button type="submit" value="submit"><strong><strong></button></li>
</form>

update with text area
<h2></h2>
<ul>
<form action="" method="">
    <li><input type="hidden" name="_method" value="patch"></li>
    <li><label for=""><strong><em></em></strong</label></li>
    <li><textarea type="" id="" name="" placeholder="" rows="10" cols="50"></textarea></label></li>
    <br>
    <li><button type="submit" value="submit"><strong><strong></button></li>
</form>
</ul>

list
<ul>
    <li><strong><em> </em></strong></li>
    <br>
    <li><strong><em> </em></strong></li>
    <br>
</ul>

link
<a href=""></a>

 Delete form
<form action="" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete post">
</form>
