<div class="container"> 
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome!</h2>
    <div class="content">
      <p>Welcome to Lets-Meet. Here we offer comunity with a focus. Create an account to join like minded indiviuals near you!</p>
      <p>Once you have created an account you can join a group or create one. Through those groups of like minded indiviuals you can post meet-ups with a location, date and time, <strong>OR</strong> there might be some event's going on already that you might want to attend. </p>
      <p> Keep in mind that you can only be apart of one group at a time. You are free to leave and join as much as you want. However, we feel that bleonging to many groups takes away from interaction. We want you to be active with your members instead of "lurkers."<p>
    </div>
    <div class="sidebar">
      
    <% if !logged_in?%>
    
      <h3>Login:</h3>
      <ul>
      <form action='/login' method="post">
        <li><label for ="email"><strong>Email:</strong><b></li>
        <li><input type="text" id="email" name="email" placeholder="Your Email Please"></label><b></li>
        <li><label for="password"><strong>Password:</strong><b></li>
        <li><input type="password" id="password" name="password" placeholder="Password"></label><b></li>
        <input type=submit value=LogIn id=submit>
      </form><a href="/users/signup">Sign Up</a><li><b></li>
      </ul>
    
    <%else%>
      
      <h2>The newest group created:</h2>
        <ul>
          <li><b>Name:</b><%=@group.name%></li><br>
          <li><b>Bio:</b> <%=@group.bio %></li>
        </ul>
    
    <%end%>
    </div>
  </div>
</div>
